@model List<ChungChi>

<h1>Thêm thông tin</h1>

<form asp-controller="QuanLyChungChi" asp-action="AddChungChi" method="post">
    <table class="table table-bordered" style="text-align:center;margin-top:50px;margin-left:auto;margin-right:auto" width="60%" border="0" cellspacing="0">
        <td>
        <tr>
            <h4>LabID: <input name="LabID" type="text" required /></h4>
        </tr>
        <tr>
            <h4>Tên: <input name="Ten" type="text" required /></h4>

        </tr>
        <tr>
            <h4>Chứng Chỉ: <input name="TenChungChi" type="text" required /></h4>
        </tr>

        </td>

    </table>
    <button type="submit"> Submit </button>
</form>

<a asp-action="ChungChi">Back to List</a>

<h2>ID cuối</h2>
@if (Model != null)
{
    {
        <table class="table table-bordered" style="text-align:center;margin-top:50px;margin-left:auto;margin-right:auto" width="60%" border="0" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>LabID</th>
                <th>Tên</th>
                <th>Chứng Chỉ</th>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.LabID</td>
                    <td>@d.Ten</td>
                    <td>@d.Tenchungchi</td>
                </tr>
            }
        </table>
    }
}
<button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="Index"asp-controller="TkSuper" class="btnlogin"style="text-decoration: none;color:white">HomePage</a>
     </button>