@model List<diemythuc>
<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="./themify-icons/themify-icons.css">
</head>
<body>
<style>
#tendangnhap{
    text-align: center;
    margin-left: 450px;
}
.form-group{
   
    
    margin-top:10px;

}
.btn btn-default{
    color: aqua;
}
.formlogin{
    margin-top:100px;
    margin-left:450px;}
.abc{
margin-top:200px;
margin-left:450px;
}
.giua{
color:black;
margin-left:20px}
.abc1{
    width: 400px;
    height:30px;
}
.btnlogin{
    margin-left:100px;  /* căn lề cho button trong form*/
    background-color:#6495ED;/* màu button*/
    width:200px;   /* kích thươc*/
    height:50px;
    text-align: center; /* căn lề cho chữ */
    border-radius: 4px;   /* điều chỉnh góc tròn*/
    color:white;  /*màu chữ*/
    border-color:#6495ED;  /* viền */
}


</style>
<!--css thằng form chứa nó -->



    
       <!--tạo form chuyền thông tin => đơn giản hiệu quả --> 
   <form class="formlogin" asp-action="timdiemythuctheokhoang",asp-controller="DiemYThuc",method="post">
    
    <div class="form-group">
      <input class="abc1"placeholder="Nhập Khoảng trên"type="text" id="tren" name="tren" />
    </div>
    <div class="form-group">
      <input class="abc1"placeholder="Nhập khoảng dưới "type="text" id="duoi" name="duoi" />
    </div>
    <div class="form-group">
       <input type="submit"class="btnlogin" value="Tìm kiếm"  />
    </div>


    </form>
   
     @if (Model != null)
    {
        @if (Model.Count() > 0)
        {  
             
 
            <table class="table table-bordered" style="text-align:center;margin-top:50px" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>LabID </th>
                        <th>Tên </th>
                       <th>Điểm Ý Thức </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">@item.LabID</td>
                            <td style="text-align:center">@item.Ten</td>
                            <td style="text-align:center">@item.DiemYThuc</td>


                        </tr>
                    }

                                        
                                        
                                    </tbody>


                                </table>}}
     
   
    
   
   



<!--Chân trang */-->


 <div class="abc">
<h1 class="giua">Contact</h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<p>Địa chỉ: Vinhome Ocean Park, Gia Lâm, Hà Nội</p>
<p>Phone: 0339170155</p>
<p>Email: labthaysinh@mail.com</p>



</div>

</body>

</html>