@{
   
    Layout = "~/Views/Shared/layoutTkUser.cshtml";
}



<form style="margin-top:150px;margin-left:450px;" asp-controller="TkUser" asp-action="DeleteImage"method="post"enctype="multipart/form-data">
   
    <hr/>
    <button type="submit">Xóa</button>
</form>