@model List<DiemDaoTao>
<form style="margin-top:100px;margin-left:450px;" asp-controller="DiemDaoTao" asp-action="capnhatdiemptbangex"method="post"enctype="multipart/form-data">
    <input type="file" name="file"/>
    <hr/>
    <button type="submit">Cập nhật</button>
</form>



<h1 style="text-align:center;color:#808080">Điểm sau khi cập nhật </h1>

    @if (Model != null)
    {
        @if (Model.Count() > 0)
        {  
             
 
       <table style="border-collapse:collapse;width:1000px; margin:auto; border:1px solid black; border-spacing:10px;background-color: #E6E6FA">
    <thead >
       <tr>
                     <th style="border:1px solid black;padding:10px;">LabID </th>
                      <th style="border:1px solid black;padding:10px;">Tên </th>
                     <th style="border:1px solid black;padding:10px;">Điểm  </th>
       </tr>
    </thead>
    <tbody>
        
             @foreach (var item in Model)
                    {<tr>
            <td style="border:1px solid black; text-align: center;padding:10px;background-color: #B0E0E6">@item.LabID</td>
            <td style="border:1px solid black;text-align: center;padding:10px;background-color: #B0E0E6">@item.Ten</td>
            <td style="border:1px solid black;text-align: center;padding:10px;background-color: #B0E0E6">@item.Diem</td>
                   </tr> }
            
       
       
    </tbody>
 </table>}}
     <h3 style="text-align:center;color:#808080">Nếu không đúng tài khoản, hệ thống sẽ hiển thị lại file bạn up lên  </h3>
     <h3 style="text-align:center;color:#808080">Nếu cập nhật thành công màn hình sẽ trả về danh sách những thằng đã cập nhật   </h3>
     <h3 style="text-align:center;color:#808080">Các trưởng PT chuẩn bị file cập nhật đúng LabID của các thành viên, nếu sai LabID sẽ không có gì trả ra màn hình   </h3>
    