<h1 style="text-align:center;margin-top:50px;">Nhập PT muốn xuất trong các PT dưới đây</h1>
<h3 style="text-align:center;margin-top:50px;">Các Power Team:diemptlaptrinh,diempttudonghoa,diemptcokhi,diemptba,diemptquantridoanhnghiep,diemptngoaingu,diemptptbt</h3>

 <form style="margin-left:550px"class="formlogin" asp-action="xuatthanhvienPT",asp-controller="DiemDaoTao",method="post">
    

    <div class="form-group">
       <input class="abc1"placeholder="Nhập PowerTeam " type="text" id="PowerTeam" name="PowerTeam" />
    </div>
   
    <div class="form-group">
       <input style="width:100px;height:50px;margin:auto"type="submit"class="btnlogin" value="Xuất danh sách"/>
    </div>
    </form>
 