  
 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

 <style>
 .container_swap{
  
  width: 1300px;
  margin:auto;
  margin-top: 100px;
  
  }
  
  .div_chinh{
  
  width: 750px;
  
  float: left;
  
  text-align: center;
  margin:auto;
  
  }
  .div_chinhle{
  
  width: 50px;
  
  float: left;
  
  text-align: center;
  margin:auto;
  
  }
  
  .div_le{
  
  width: 200px;
  
  float: left;
  
  text-align: center;
  margin:auto;
  
  }
  .div_phu{
  
  width: 300px;
  
  float: left;
  
  text-align: center;
  margin:auto;
  background-color:#DCDCDC;
  }
  </style>

<div class="container_swap">
    <div class="div_le">
    </div>

    <div class="div_phu">
        <p style="margin-top:30px">Quyền truy cập </p>
        <hr  style="width:70%;text-align:center" />
        <p>Hướng dẫn sử dụng</p>
        <hr  style="width:70%;text-align:center" />
        <p style="line-height:600px">.</p>
        <hr  style="width:70%;text-align:center;line-height:450px" />
        <p></p>
       
    </div>
    <div class="div_chinhle">
        .
    </div>
    <div class="div_chinh">
         <!-- tự căn lề thủ công-->
         <h3>Giới thiệu về trang web</h3>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px"> Đây là một công cụ để các thành viên Ban LT Lab Thầy Sinh có thể đánh giá chất lượng nhân sự</h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px">quản lý nhân sự trong Lab</h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px"> Từ trang web này, ban LT Lab Thầy Sinh dễ dàng đưa ra bản đánh giá quá trình hoạt động của 1</h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px">thành viên trong Lab, đây ra là tài liệu quan trọng khi các bạn ứng tuyển vào các công việc.</h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px"> Trang web được xây dựng bởi Power Team Lập Trình Gen 4.0 dưới sự định hướng của PGS.TS </h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px">Hoàng Vĩnh Sinh</h5>
         <h5 style="line-height:20px;font-family:Arial;text-align:left;font-size:18px"> Đây là công cụ lưu trữ những tài liệu quan trọng của Lab.</h5>
        
    
    </div>
</div>