  <div class="header"></div>
 <style>
.header{
    background-color:#6495ED;
    height:50px;
}
#tendangnhap{
    text-align: center;
    margin-left: 450px;
}
.form-group{
   
    
    margin-top:10px;

}
.btn btn-default{
    color: aqua;
}
.formlogin{
    margin-top:100px;
    margin-left:450px;}
.abc{
margin-top:200px;
margin-left:450px;

}
.giua{
color:black;
margin-left:20px}
.abc1{
    width: 400px;
    height:30px;
}
</style>
<h1 style="text-align:center;color:#808080">Quản lý điểm</h1>
   <button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="diemythuc"asp-controller="DiemYThuc" class="btnlogin"style="text-decoration: none;color:white">Điểm Ý Thức </a>
</button>
<button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="diemptbt"asp-controller="DiemPTBT" class="btnlogin"style="text-decoration: none;color:white">Điểm Phát triển bản thân </a>
</button>
   <button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="diemdaotao"asp-controller="DiemDaoTao" class="btnlogin"style="text-decoration: none;color:white">Điểm Đào Tạo</a>
     </button>
