 <button style="text-align:center;margin-top:50px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="timkiemdiemptbtID"asp-controller="DiemPTBT" class="btnlogin"style="text-decoration: none;color:white">Theo LabID</a>
</button>
 <button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="timkiemdiemptbtTen"asp-controller="DiemPTBT" class="btnlogin"style="text-decoration: none;color:white">Theo Tên</a>
</button>
<button style="text-align:center;margin-top:25px;margin-left:600px;background-color:#6495ED;width:300px;height:50px;color:white;border-radius: 4px;">  
         <a asp-action="Index"asp-controller="TkSuper" class="btnlogin"style="text-decoration: none;color:white">HomePage</a>
     </button>